<!DOCTYPE html>
@{
    Layout = null;
}
@model IEnumerable<PageCategory>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/navigation.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    <script type="text/javascript">

        function selectCategory(category) {
            $(category).next("ul").show();
            $(category).find("i").removeClass("fa-angle-right").addClass("fa-angle-down");
            //$(category).addClass("selected").parent().siblings("li").find("a").removeClass("selected");
            $(category).parent().siblings().children("a") .removeAttr("style").next().hide();
           // $(category).parent().siblings().children("a");
            $(category).parent().siblings().children("a").find("i").removeClass("fa-angle-down").addClass("fa-angle-right");
            return false;
        }

        //加载过程处理
        $(function () {
            //$("a").hover(function(){
            //    $(this).addClass("mousehover");
            //},function(){
            //    $(this).removeClass("mousehover");
            //});

            // $("ul.level2 li[id=pid]").addClass("bg-info"); //value指定需要是常量
            var pid =@Html.Raw(ViewBag.SelectPageId);
            var $li =$("#" + pid.toString());
            //$li.addClass("subitem")
            //    .parent()
            //    .show()
            //    .siblings("a").css({"color":"black"})
            //    .find("i").removeClass("fa-angle-right").addClass("fa-angle-down");
            //$li.find("a").addClass("selected");
        });
    </script>
    <style>
        a.wide {
            display: block;
            text-decoration: none;
            margin-left: 20px;
        }


        .nav li > a {
            color: #c4c4c4;
        }

            .nav li > a:hover, .nav li > a:focus {
                background-color: transparent;
                color: white;
            }

    

        li.subitem-selected {
            background-color: #808080;
        }

        a.selected {
            color: white;
        }



        i.righti {
            float: right;
            vertical-align: central;
        }

        li.category {
            font-size: medium;
        }

        /*去除边距，这样父容器宽度和此一致*/
        div.box {
            margin: 0px;
            width: 100%;
        }
    </style>

</head>
<body>
    <div class="box">
        <ul class="nav">
            @foreach (var category in Model)
            {
                var containSelectItem = ViewBag.SelectPageId != null && category.Pages.FirstOrDefault(x => x.Id == (int)ViewBag.SelectPageId) != null;
                <li class="category">
                    <a href="#" onclick="selectCategory(this)"  @{if (containSelectItem) { <text> style="color:white" </text>      } }>
                        @if (containSelectItem)
                        {
                            @category.Title<i class="fa fa-angle-down righti"></i>
                        }
                        else
                        {
                            @category.Title<i class="fa fa-angle-right righti"></i>
                        }
                  

                    </a>
                    <!--如果当前选中的page在这个category里面，那么就不隐藏-->
                    <ul @{if (!containSelectItem) { <text> hidden="hidden" </text>      } }>
                        @foreach (var page in category.Pages)
                        {
                            if (ViewBag.SelectPageId == page.Id)
                            {
                                <li id=@page.Id class="link subitem-selected">
                                    @Html.ActionLink(page.Title, page.Action, page.Controller, null, new { @class = "wide",style="color:white" })
                                </li>
                            }
                            else
                            {
                                <li id=@page.Id class="link">
                                    @Html.ActionLink(page.Title, page.Action, page.Controller, null, new { @class = "wide" })
                                </li>
                            }

                        }
                    </ul>
                </li>
    }
        </ul>
    </div>
</body>
</html>
