@model MEAS.Models.CartIndexViewModel
@{
    ViewBag.Title = "Your Cart";
}
<h2>Your Cart</h2>
<table class="table" id="cartTable">
<thead>
<tr>
    <th>Quanity</th>
    <th>Item</th>
    <th class="text-right">Price</th>
    <th class="text-right">Subtotal</th>
</tr>
</thead>
    <tbody>
        @foreach(var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price</td>
                <td class="text-right">(@line.Product.Price * @line.Quantity).ToString("c")</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        Html.Hidden("productId", 1);
                        Html.HiddenFor(x => x.ReturnUrl);
                        <input class="btn btn-sm btn-warning"  type="submit" value="Remove..."/>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">ContiuesShopping</a>
</div>

