
@using PagedList;  
@using PagedList.Mvc;
@{
    ViewBag.Title = "Admin: All Products";
   // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
@model IPagedList<Product>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dissmiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>asdfasdfasdfasdf</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dissmiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<h2>All Products</h2>

<div class="panel-body" >
   
    <table class="table table-striped table-condensed table-bordered" >
        <thead>
            <tr>
                <th class="text-right">ID</th>
                <th class="text-right">Name</th>
                <th class="text-right">Price</th>
                <th class="text-center">Actions</th>
            </tr> 
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="text-right">@product.Id</td>
                    <td class="text-right">@Html.ActionLink(@product.Name, "Edit", new { productId = product.Id })</td>
                    <td class="text-right">@product.Price</td>
                    <td class="text-right">@Html.ActionLink("Delete", "Delete", new { id = product.Id })</td>
                </tr>
            }
             @*@foreach(var product in Model)
             {
                 <tr>
                     <td class="text-right">@product.Id</td>
                     <td class="text-right">@Html.ActionLink(@product.Name, "Edit", new { productId = product.Id })</td>
                     <td class="text-right">@product.Price</td>
                     <td class="text-right">@Html.ActionLink("Delete","Delete",new { id=product.Id})</td>
                 </tr>
             }*@
        </tbody>
    </table>
    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast);
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script> 

 <script>
     $(document).ready(function () {
         $('#myModal').modal('show');
     });
 </script>


