
@using PagedList;  
@using PagedList.Mvc;
@{
    ViewBag.Title = "Admin: All Products";
   // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
@model IPagedList<Product>
@*<div>
    @{Html.RenderAction("UploadFile", "File");}
</div>*@
<head>
    <style>
        .div-center {
            vertical-align:central;
            text-align: center;
        }
    </style>
   
</head>
<h2>All Products</h2>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="panel-body  panel-primary" >
   @{ var modal_para = new { data_modal="" };}

    <table class="table table-striped table-condensed table-bordered" >
        <thead>
            <tr>
                <th class="text-right">ID</th>
                <th class="text-right">Name</th>
                <th class="text-right">Price</th>
                <th class="text-center">Actions</th>
            </tr> 
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="text-right">@product.Id</td>
                    <td class="text-right">@Html.ActionLink(@product.Name, "Edit", new { productId = product.Id })</td>
                    <td class="text-right">@product.Price</td>
                    
                    <!--此句采用js回调浏览器的对话框来显示对话框-->
                    @*<td class="text-right">@Html.ActionLink("Delete", "Delete", new { id = product.Id },new {onclick= "return confirm('你确定要删除此产品?');" })</td>*@
                    @*<td>@Html.ActionLink("删除", "Delete", new { id = product.Id }, new { data_modal = "" })</td>*@

                    <td   align="center" width="20px">
                        <div class="btn-group div-center ">
                            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("详细", "Details", new { id = product.Id }, modal_para)</li>
                                <li>@Html.ActionLink("编辑", "Edit", new { id = product.Id }, modal_para)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("删除", "Delete", new { id = product.Id }, modal_para)</li>
                            </ul>
                        </div>
                    </td>
                     
                </tr>
            }
             @*@foreach(var product in Model)
             {
                 <tr>
                     <td class="text-right">@product.Id</td>
                     <td class="text-right">@Html.ActionLink(@product.Name, "Edit", new { productId = product.Id })</td>
                     <td class="text-right">@product.Price</td>
                     <td class="text-right">@Html.ActionLink("Delete","Delete",new { id=product.Id})</td>
                 </tr>
             }*@
        </tbody>
    </table>
    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}


