@model MEAS.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "重置密码";
}

<h2>@ViewBag.Title。</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>重置你的密码。</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Code)*@
 
        <div class="form-group">
            <label class="col-md-2    control-label">@Html.DisplayNameFor(x => x.LoginName)</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.LoginName, new { @class = "form-control input-sm", @readonly="readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2    control-label">@Html.DisplayNameFor(x => x.UserName)</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control input-sm", @readonly = "readonly" })
            </div>
        </div>
 
    <div class="form-group">
        <label class="col-md-2    control-label">@Html.DisplayNameFor(x => x.OldPassword)</label>
        <div class="col-md-10" >
            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2    control-label">@Html.DisplayNameFor(x => x.NewPassword)</label>
        <div class="col-md-10">
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2    control-label">@Html.DisplayNameFor(x => x.ConfirmPassword)</label>
        <div class="col-md-10">
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control input-sm" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="重置" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
