@using MEAS.Models
@model  IEnumerable<PageCategory>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="侧边导航菜单(可分组折叠)">
    <meta name="description" content="侧边导航菜单(可分组折叠)" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Bootstrap3.3.5 CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   <script   src="~/Scripts/jquery-3.1.1.min.js" ></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            var $div_li = $(".panel-heading");
            $div_li.click(function () {
                @*var pageId =@Html.Raw(Json.Encode(ViewBag.SelectePageId));   
                alert(pageId);*@
                $(this).siblings.find("span").addClass("glyphicon-chevron-down")
                   .removeClass("glyphicon-chevron-up");
                 
                //       .siblings().removeClass("selected");  //去掉其它同辈<li>元素的高亮
                //var index =  $div_li.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
                //$("div.tab_box > div")   	//选取子节点。不选取子节点的话，会引起错误。如果里面还有div 
                //        .eq(index).show()   //显示 <li>元素对应的<div>元素
                //        .siblings().hide(); //隐藏其它几个同辈的<div>元素
            @*$(".panel-heading").click(function (e) {

                
               
                alert(pageId);*@
                //$(this).find("span").toggleClass("glyphicon-chevron-down");
                //$(this).find("span").toggleClass("glyphicon-chevron-up");
            });
        });
    </script>
    <style>
        .panel-group {
            max-height: 770px;
            overflow: auto;
        }

        .leftMenu {
            margin: 10px;
            margin-top: 5px;
        }

            .leftMenu .panel-heading {
                font-size: 14px;
                padding-left: 20px;
                height: 36px;
                line-height: 36px;
                color: white;
                position: relative;
                cursor: pointer;
            }
                /*转成手形图标*/
                .leftMenu .panel-heading span {
                    position: absolute;
                    right: 10px;
                    top: 12px;
                }

            .leftMenu .menu-item-left {
                padding: 2px;
                background: transparent;
                border: 1px solid transparent;
                border-radius: 6px;
            }

                .leftMenu .menu-item-left:hover {
                    background: #C4E3F3;
                    border: 1px solid #1E90FF;
                }
    </style>
</head>

<body>
    <div class="row">

        <div class="panel-group table-responsive" role="tablist" id="navdiv">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var gp = "group" + i.ToString();
                var gh =  "grouphead" + i.ToString();
                <div class="panel panel-primary leftMenu">
                    <div class="panel-heading" id="@gh" data-toggle="collapse" data-target="#@gp" role="tab">
                        <h4 class="panel-title">
                            @Model.ElementAt(i).Title
                            <span class="glyphicon glyphicon-chevron-down right"></span>
                        </h4>
                    </div>

                    <div id="@gp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@gh">
                        <ul class="list-group">
                            @foreach (var page in Model.ElementAt(i).Pages)
                            {
                                <li class="list-group-item">@Html.ActionLink(@page.Title, "Jump","Navigation",new {pageId=page.Id},null)</li>
                                @*<li  class="list-group-item" ><a href="..\@page.Url">@page.Title</a></li>*@
                                @*<li class="list-group-item">
                                    <button class="menu-item-left">
                                        <span class="glyphicon glyphicon-triangle-right"></span>@page.Title
                                    </button>
                                </li>*@
                            }
                        </ul>
                    </div>
                </div>
            }
           
        </div>

    </div>

    @*<script src="js/jquery-1.11.3.min.js "></script>

        <script src="js/bootstrap.min.js "></script>*@
   
</body>

 
